{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>All patients</h1>
    <p>Here you can view and manage patient information.</p>
    <!-- Add your patient details and management features here -->
</div>
{% if patients %}
  {% for patient in patients %}

    <a href="{% url 'patient_detail' patient.id %}">
        <div class="patient-row">
          <div class="icon">👨‍👩‍👧‍👦</div>
          <div class="info">
            <div class="name">{{ patient.full_name }}</div>
            <div class="last-visit">Last visit unknown</div>
          </div>
          <div class="status">
            <span class="alert-icon">⚠️</span>
            <span class="visits">0 visits</span>
          </div>
        </div>
    </a>

  {% endfor %}
{% else %}
  <p>No patients found. <a href="{% url 'new_patient' %}">Add a new patient</a></p>
{% endif %}


<div>
  <a href="{% url 'new_patient' %}">
        <button class="btn btn-primary">Add New Patient</button>
  </a>
</div>




{% endblock %}