.patient-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    font-family: Arial, sans-serif;
    flex-wrap: wrap; /* allow stacking on small screens */

}

.patient-btn{
  display: flex;
  justify-content: center;
  padding: 10rem;  
}

/* Left icon */
.icon {
  font-size: 24px;
  color: #e74c3c;
  margin-right: 20px;
}

/* Middle section */
.info {
  flex-grow: 1;
}

.name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.last-visit {
    font-size: 0.85rem;
    font-size: 14px;
    color: #e74c3c;
}

/* Right alert and visits */
.status {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.9rem;
    color: #e74c3c;
    font-weight: bold;
}

.alert-icon {
  font-size: 18px;
}



